<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BAR</title>
</head>
<body>

<h1>Welcome to the bar. What can I get you to drink?</h1>

USER NAME {{ .Userame }}<br>
FIRST {{ .Firstname }}<br>
LAST {{ .Lastname }}<br>
<h2><a href="/logout">log out</a></h2>

</body>
</html>